<!--suppress HtmlUnknownAttribute -->
<ng-template #optionsList let-header="header" let-options="options">
    <h1>{{header}}</h1>
    <hr>
    <div *ngFor="let option of options">
        <app-option
            [type]="option.type"
            [label]="option.label"
            [description]="option.description"
            [value]="(config | async)?.get(option.valuePath[0]).get(option.valuePath[1])"
            (changeEvent)="onSetConfig(option.valuePath[0], option.valuePath[1], $event)">
        </app-option>
    </div>
</ng-template>


<div id="settings">
    <div id="left">
        <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
        <ng-container
            *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_SERVER">
        </ng-container>

        <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
        <ng-container
            *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_AUTOQUEUE">
        </ng-container>

        <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
        <ng-container
            *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_EXTRACT">
        </ng-container>

        <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
        <ng-container
            *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_OTHER">
        </ng-container>

    </div>
    <div id="right">
        <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
        <ng-container
            *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_CONNECTIONS">
        </ng-container>

        <!--suppress HtmlUnknownAttribute, UnnecessaryLabelJS -->
        <ng-container
            *ngTemplateOutlet="optionsList;context:OPTIONS_CONTEXT_DISCOVERY">
        </ng-container>
    </div>

    <div id="commands">
        <div class="button" appClickStopPropagation [attr.disabled]="commandsEnabled ? null : true"
             (click)="!commandsEnabled || onCommandRestart()">
            <img src="assets/icons/refresh.svg" />
            <span class="text">Restart</span>
        </div>
    </div>
</div>
