@import '../../common/common';

#settings {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;

    #left, #right {
        width: 100%;
    }

    #commands {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;

        .button {
            @extend %button;

            flex-direction: row;
            padding: 10px;
            margin-right: 8px;
            height: 40px;
            font-size: 120%;

            .text {
                margin-left: 5px;
            }
        }
    }
}


/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    #settings {
        #left, #right {
            width: 50%;
        }
        #left {
            padding-right: 10px;
        }
        #right {
            padding-left: 10px;
        }
    }
}
