<div class="file">
    <div class="status">{{file.status}}</div>
    <div class="name">{{file.name}}</div>
    <div class="speed">
        <span *ngIf="file.downloadingSpeed">{{file.downloadingSpeed | fileSize}}/s</span>
    </div>
    <div class="size">
        <div class="progress">
            <div class="progress-bar" role="progressbar"
                 [class.active]="file.status === ViewFile.Status.DOWNLOADING"
                 [class.progress-bar-striped]="file.status === ViewFile.Status.DOWNLOADING"
                 [attr.aria-valuenow]="file.percentDownloaded" aria-valuemin="0" aria-valuemax="100"
                 [style.width]="file.percentDownloaded + '%'">
                {{file.percentDownloaded}}%
            </div>
        </div>
        <div class="size_info">
            {{file.localSize | fileSize}} of {{file.remoteSize | fileSize}}
        </div>
    </div>
</div>
