Source: seedsync
Section: utils
Priority: extra
Maintainer: Inderpreet Singh <ipsingh06@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-systemd (>= 1.5)
Standards-Version: 4.0.0

Package: seedsync
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, lftp, openssh-client
Pre-Depends: debconf (>= 0.2.17)
Description: fully GUI-configurable, lftp-based file transfer program
 seedsync is a lftp-based file transfer program to keep your local server
 synchronized with your remote seedbox. It features a web-based GUI to
 fully configure lftp settings as well as view the transfer status.