#!/usr/bin/make -f

export DESTROOT=$(CURDIR)/debian/seedsync

%:
	dh $@ --with=systemd

override_dh_auto_install:
	dh_auto_install
	mkdir -p $(DESTROOT)/usr/lib
	cp -rf seedsync $(DESTROOT)/usr/lib/
