<div id="about">
    <div id="wrapper">
        <div id="banner">
            <img src="assets/logo.png" alt="SeedSync" />
            <span><b>Seed</b>Sync</span>
        </div>
        <div id="version">v{{version}}</div>
        <div id="copyright">Copyright © 2017-2020 Inderpreet Singh</div>
        <div id="github">
            Source available on
            <a target="_blank" href="https://github.com/ipsingh06/seedsync">Github</a>
        </div>
        <div id="icons">
            Icons by Freepik, Yannick, Dave Gandy, Google and Smashicons from
            <a target="_blank" href="https://www.flaticon.com/">Flaticon</a>
        </div>
    </div>
</div>
