@import '../../common/common';

#logs {
    padding: 5px 15px;
    font-family: monospace;
    font-size: 70%;

    p.record {
        margin: 0;

        /* break up long text */
        overflow-wrap: normal;
        hyphens: auto;
        word-break: break-all;

        &.debug {
            color: darkgray;
        }

        &.info {
            color: black;
        }

        &.warning {
            // copied from bootstrap alert-warning
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

        &.error, &.critical {
            // copied from bootstrap alert-danger
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
        }

        span.traceback {
            display: block;
            white-space: pre-line;
            margin-left: 30px;

            /* break up long text */
            overflow-wrap: normal;
            hyphens: auto;
            word-break: break-all;
        }
    }
}

/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    #logs {
        font-size: 95%;
    }
}
