<div id="logs">
    <!--suppress HtmlUnknownAttribute -->
    <ng-template #templateRecord let-record="record">
        <p class="record"
            [class.debug]="record.level == LogRecord.Level.DEBUG"
            [class.info]="record.level == LogRecord.Level.INFO"
            [class.warning]="record.level == LogRecord.Level.WARNING"
            [class.error]="record.level == LogRecord.Level.ERROR"
            [class.critical]="record.level == LogRecord.Level.CRITICAL">
            {{record.time | date: 'yyyy/MM/dd HH:mm:ss'}} -
            {{record.level}} -
            {{record.loggerName}} -
            {{record.message}}

            <!-- Don't break this span into multiple lines, newlines show up -->
            <span class="traceback" *ngIf="record.exceptionTraceback">{{record.exceptionTraceback}}</span>
        </p>
    </ng-template>

    <!--suppress HtmlUnknownAttribute -->
    <ng-template #templateConnected let-connected="connected">
        <div class="connected">
            <span *ngIf="connected">{{Localization.Log.CONNECTED}}</span>
            <span *ngIf="!connected">{{Localization.Log.DISCONNECTED}}</span>
        </div>
    </ng-template>


    <!-- marks where template should be copied -->
    <ng-container #container></ng-container>
</div>
