@import '../../common/common';

#autoqueue {
    padding: 15px;

    #description {
        font-size: 100%;
    }

    .pattern,
    #add-pattern {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 10px;

        .button {
            @extend %button;

            flex-grow: 0;
            flex-direction: row;
            padding: 8px;
            margin-right: 12px;
            font-size: 120%;
        }
    }

    .pattern {
        .text {
            font-size: 120%;
            font-family: monospace;
            white-space: pre-wrap;

            /* break up long text */
            overflow-wrap: normal;
            hyphens: auto;
            word-break: break-all;
        }

        .button {
            background-color: red;
            border-color: darkred;

            &:active {
                background-color: darkred;
            }
        }
    }

    #add-pattern {
        .button {
            background-color: green;
            border-color: darkgreen;

            &:active {
                background-color: darkgreen;
            }

            &[disabled] {
                opacity: .65;
                background-color: green;
            }
        }

        label {
            margin-bottom: 0;
        }
    }
}
