altgraph==0.14
appdirs==1.4.3
beautifulsoup4==4.6.0
bottle==0.12.13
cheroot==5.5.0
future==0.16.0
greenlet==0.4.12
macholib==1.8
packaging==16.8
Paste==2.0.3
pefile==2017.9.3
pexpect==4.2.1
portend==1.8
ptyprocess==0.5.1
PyInstaller==3.3
pyparsing==2.2.0
pytz==2017.2
requests==2.14.2
six==1.10.0
tempora==1.7
timeout-decorator==0.4.0
waitress==1.0.2
WebOb==1.7.3
WebTest==2.0.28
