/*
 * COMMON
 */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

/* show the input search cancel button */
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

div {
    /*border: 1px solid black;*/
    /* make padding and border inside box */
    box-sizing: border-box;
}

/*
 * Content
 * NOTE: Make sure this is in-sync with the sidebar
 */
#top-content {
    /*margin-left: 200px;*/
}
