/*
 * COMMON
 */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

/*
 * FILE-LIST
 */

div {
    /*border: 1px solid black;*/
    /* make padding and border inside box */
    box-sizing: border-box;
}

#file-list #header {
    display: none;
}

/* striped rows */
#file-list > div:nth-child(even){
    background-color: #f6f6f6;
}

/* list separator */
#file-list > div {border-bottom: 1px solid #ddd;}
#file-list > div:last-child{border-bottom: none;}

.file {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 0;
}

.file div {
    /* break up long text */
    overflow-wrap: normal;
    hyphens: auto;
    word-break: break-all;
}

/* width */
.file .status   {width: 100px; min-width: 100px;}
.file .name     {flex-grow: 1; flex-basis: calc(100% - 100px);}
.file .speed    {width: 100px; min-width: 100px;}
.file .size     {flex-grow: 1;}

/* content elements */
.file > div {
    padding: 4px 4px;
    text-align: center;
    vertical-align: top;
}
.file .name {text-align: left;}

/* Progress bar */
.file .progress-bar {
    min-width: 2em;
}

/* Desktop */
@media only screen and (min-width: 601px) {
    #file-list #header {
        display: flex;
    }

    /* width */
    #header .status, .file .status      {width: 100px; min-width: 100px;}
    #header .name, .file .name          {flex-grow: 1;}
    #header .speed, .file .speed        {width: 100px; min-width: 100px;}
    #header .size, .file .size          {width: 30%; min-width: 30%;}

    /* header and content elements */
    #header > div, .file > div {
        padding: 8px 8px;
        text-align: center;
        vertical-align: top;
    }
    #header .name, .file .name {text-align: left;}

    /* header color */
    #header div {
        font-weight: bold;
        color: #fff;
        background-color: #000;
    }

    .file {
        /* single row */
        flex-wrap: nowrap;
        /* no top/bottom padding */
        padding: 0 0;
    }

    /* Re-order columns */
    .file .status {order: 2;}
    .file .name {order: 1;}
    .file .speed {order: 3;}
    .file .size {order: 4;}
}
