# pylftp (old) service

[Unit]
Description=Job that runs the pylftp (old) daemon

[Service]
Type=simple
WorkingDirectory=/opt/pyLFTPdaemon
ExecStart=/usr/bin/python /opt/pyLFTPdaemon/pyLFTPdaemon.py start

[Install]
WantedBy=multi-user.target
