html, body{
    height: 100%;
    font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;
}

table {
    font-size: 0.9em;
}

#topHalf, #bottomHalf {
    height: 45%;
    /*border: 1px solid black;*/
}

td {
    word-wrap: break-word;
}

#bottomHalf {
    margin-top: 20px;
}

.progressbar-container {
    position: relative;
}

.progressbar-number {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    color: #072842;
}

.commands a {
    text-decoration: none;
    font-weight: bold;    
}
