@import '../../common/common';


#top-content {
    margin-left: $sidebar-width;
    transition: margin-left .4s;
}

#top-header {
    position: sticky;
    top: 0;
    z-index: $zindex-top-header;
}

#outside-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $zindex-sidebar - 1;
    background-color: black;
    opacity: .25;
}

#title-bar {
    background-color: $header-color;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
}

#title-bar #title {
    flex-grow: 1;
    font-size: 26px;
    cursor: default;
    user-select: none;
}

#top-sidebar {
    background-color: $primary-light-color;
    width: $sidebar-width;
    height: 100%;
    position: fixed;
    z-index: $zindex-sidebar;
    overflow: auto;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    animation: animateleft 0.4s;

    #logo {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 5px;

        .image {
            img {
                max-height: 32px;
                max-width: 32px;
            }
        }

        .text {
            flex-grow: 1;
            padding-left: 5px;
            font-size: 140%;
            cursor: default;
            user-select: none;
            color: $logo-color;
            font-family: $logo-font;
        }

        #sidebar-btn-close {
            text-align: right;
            padding: 0;
            font-size: 140%;

            &:active {
                color: red;
                background-color: inherit;
            }
        }
    }
}
@keyframes animateleft {
    from {
        left: -$sidebar-width;
        opacity: 0
    }
    to {
        left:0;
        opacity:1
    }
}

.top-sidebar-open {
    display: block;
}
.top-sidebar-closed {
    display: none;
}

.outside-sidebar-show {
    display: block;
}
.outside-sidebar-hide {
    display: none;
}

.sidebar-btn {
    background-color: inherit;
    display: block;
    padding: 8px 16px;
    border: none;
    outline: none;
    white-space: normal;
    float: none;
    cursor: default;
    user-select: none;
}

#sidebar-btn-open {
    text-align: left;

    &:active {
        background-color: $header-dark-color;
    }
}

// Small and medium screens
@media only screen and (max-width: $medium-max-width) {

    // Sidebar is hidden, remove content margin
    #top-content {
        margin-left: 0;
    }
}

// Large screens
@media only screen and (min-width: $large-min-width) {

    // Always show the sidebar
    #top-sidebar {
        display: block;
    }

    // Always hide the outside-sidebar
    .outside-sidebar-show {
        display: none;
    }

    // Hide the sidebar open/close buttons
    .sidebar-btn {
        display: none;
    }

    // Hide the entire title-bar
    #title-bar {
        display: none;
    }
}
