@import '../../common/common';

#header {
    .alert {
        padding: 5px;
        margin-bottom: 0;
        border-radius: 0;

        button.close {
            top: 0px;
            right: 0;
            cursor: default;
            user-select: none;
            outline: none;
            opacity: .2;
            font-size: 160%;

            &:active {
                color: red;
            }

            &:hover {
                color: inherit;
                opacity: .2;
            }
        }
    }
}
