<div id="header">
    <div *ngFor="let notif of notifications | async"
         class="alert"
         [class.alert-danger]="notif.level == Notification.Level.DANGER"
         [class.alert-warning]="notif.level == Notification.Level.WARNING"
         [class.alert-info]="notif.level == Notification.Level.INFO"
         [class.alert-success]="notif.level == Notification.Level.SUCCESS"
         [class.alert-dismissible]="notif.dismissible">
        <button type="button" class="close"
                *ngIf="notif.dismissible"
                (click)="dismiss(notif)">
            <span>&#10006;</span>
        </button>
        <span [innerHTML]="notif.text"></span>
    </div>
</div>
