<div id="sidebar">
    <a *ngFor="let routeInfo of routeInfos"
       class="button"
       routerLink="{{routeInfo.path}}"
       routerLinkActive="selected">
        <img src="{{routeInfo.icon}}" />
        <span class="text">{{routeInfo.name}}</span>
    </a>

    <hr>

    <a class="button"
       [attr.disabled]="commandsEnabled ? null : true"
       (click)="!commandsEnabled || onCommandRestart()">
        <img src="assets/icons/refresh.svg" />
        <span class="text">Restart</span>
    </a>
</div>
