<div id="file-list">
    <div id="header">
        <div class="name">Filename</div>
        <div class="status">Status</div>
        <div class="speed">Speed</div>
        <div class="eta">ETA</div>
        <div class="size">Size</div>
    </div>
    <div *ngFor="let file of files | async; trackBy: identify">
        <app-file
            [file]="file"
            (click)="onSelect(file)"
            (queueEvent)="onQueue($event)"
            (stopEvent)="onStop($event)"
            (extractEvent)="onExtract($event)">
        </app-file>
    </div>
</div>
