@import '../../common/common';

.file {
    padding: 10px;
}

/* selected file */
.file.selected {
    background-color: $secondary-color;
}

/* content */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px 0;
}

.content div {
    /* break up long text */
    overflow-wrap: normal;
    hyphens: auto;
    word-break: break-all;
}

/* width */
.content .status   {width: 100px; min-width: 100px;}
.content .name     {flex-grow: 1; flex-basis: calc(100% - 100px);}
.content .speed    {width: 100px; min-width: 100px;}
/* .content .eta is hidden on mobile */
.content .size     {flex-grow: 1;}

/* content elements */
.content > div {
    padding: 4px 4px;
    text-align: center;
    vertical-align: top;
}
.content .name {text-align: left;}

/* Name */
.content .name {
    display: flex;
    flex-direction: row;

    img {
        height: 20px;
        margin-right: 8px;
        margin-top: 1px;
    }
}

/* Status */
.content .status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 62px;
    max-height: 62px;

    img {
        height: 35px;
        width: 35px;
    }

    // Optical weighting
    img#downloading, img#downloaded {
        width: 45px;
    }
    img#default-remote {
        width: 45px;
        height: 45px;
    }
    img#stopped {
        width: 30px;
    }

    .text {
        margin-top: 3px;
        font-size: 70%;
    }
}

/* Speed */
.content .speed {
    font-size: 90%;
}

/* Progress bar */
.content .progress-bar {
    min-width: 2em;
}
.content .progress {
    margin-bottom: 5px;
}
.content .size_info {
    font-size: 80%;
}

/* Hide the outer eta */
.content .eta {display: none;}
.content .speed .speed-eta {font-size: 90%;}

/* actions */
.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    /* offsets the button's margin-bottom */
    margin-bottom: -10px;
}
.actions .button {
    @extend %button;

    /* bottom margin for when buttons get wrapped to multiple rows */
    margin-bottom: 10px;
    margin-right: 10px;
    width: 60px;
    min-width: 60px;
    height: 60px;

    .text {
        height: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            font-size: 12px;
            text-align: center;
            line-height: 12px;
        }
    }

    img {
        width: 25px;
        height: 25px;
        filter: invert(1.0);
    }
}

/* action toolbar show and hide */
.actions {
    display: none;
}
.file.selected .actions {
    display: flex;
}


/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    /* enable row hover */
    .file:not(.selected):hover {
        background-color: $secondary-light-color;
    }

    /* width */
    /* NOTE: make sure this is in-sync with "#file-list #header" */
    .content .status    {width: 100px; min-width: 100px;}
    .content .name      {flex-grow: 1;}
    .content .speed     {width: 100px; min-width: 100px;}
    .content .eta       {width: 100px; min-width: 100px;}
    .content .size      {width: 30%; min-width: 30%;}

    .content {
        /* single row */
        flex-wrap: nowrap;
        /* no top/bottom padding */
        padding: 0 0;
    }

    /* Re-order columns */
    .content .status {order: 2;}
    .content .name {order: 1;}
    .content .speed {order: 3;}
    .content .eta {order: 4;}
    .content .size {order: 5;}

    /* Hide the inner eta, show outer eta */
    .content .eta {display: inline;}
    .content .speed .speed-eta {display: none;}
}
