<div class="file" [class.selected]="file.isSelected">
    <div class="content">
        <div class="status">
            <img src="assets/icons/default-remote.svg" id="default-remote"
                 *ngIf="file.status === ViewFile.Status.DEFAULT && file.remoteSize > 0" />
            <img src="assets/icons/queued.svg" id="queued"
                 *ngIf="file.status === ViewFile.Status.QUEUED" />
            <img src="assets/icons/downloading.svg" id="downloading"
                 *ngIf="file.status === ViewFile.Status.DOWNLOADING" />
            <img src="assets/icons/downloaded.svg" id="downloaded"
                 *ngIf="file.status === ViewFile.Status.DOWNLOADED" />
            <img src="assets/icons/stopped.svg" id="stopped"
                 *ngIf="file.status === ViewFile.Status.STOPPED" />
            <img src="assets/icons/deleted.svg" id="deleted"
                 *ngIf="file.status === ViewFile.Status.DELETED" />
            <img src="assets/icons/extracting.svg" id="extracting"
                 *ngIf="file.status === ViewFile.Status.EXTRACTING" />
            <img src="assets/icons/extracted.svg" id="extracted"
                 *ngIf="file.status === ViewFile.Status.EXTRACTED" />
            <!-- don't show text for default status -->
            <span *ngIf="file.status != ViewFile.Status.DEFAULT"
                  class="text">{{file.status | capitalize}}</span>
        </div>
        <div class="name">
            <img src="assets/icons/file.svg" *ngIf="!file.isDir && !file.isArchive" />
            <img src="assets/icons/file-archive.svg" *ngIf="!file.isDir && file.isArchive" />
            <img src="assets/icons/directory.svg" *ngIf="file.isDir && !file.isArchive" />
            <img src="assets/icons/directory-archive.svg" *ngIf="file.isDir && file.isArchive" />
            <div class="text">{{file.name}}</div>
        </div>
        <div class="speed">
            <span *ngIf="file.downloadingSpeed">{{file.downloadingSpeed | fileSize:3}}/s</span>
            <!-- for mobile layout -->
            <div class="speed-eta">
                <span *ngIf="file.status === ViewFile.Status.DOWNLOADING">eta: {{file.eta | eta}}</span>
            </div>
        </div>
        <!-- for desktop layout -->
        <div class="eta">
            <span *ngIf="file.status === ViewFile.Status.DOWNLOADING">{{file.eta | eta}}</span>
        </div>
        <div class="size">
            <div class="progress">
                <div class="progress-bar" role="progressbar"
                     [class.active]="file.status === ViewFile.Status.DOWNLOADING"
                     [class.progress-bar-striped]="file.status === ViewFile.Status.DOWNLOADING"
                     [attr.aria-valuenow]="file.percentDownloaded" aria-valuemin="0" aria-valuemax="100"
                     [style.width]="file.percentDownloaded + '%'">
                    {{file.percentDownloaded}}%
                </div>
            </div>
            <div class="size_info">
                {{file.localSize | fileSize:3}} of {{file.remoteSize | fileSize:3}}
            </div>
        </div>
    </div>

    <!-- actions div, visible on selection -->
    <div class="actions">
        <div class="button" appClickStopPropagation [attr.disabled]="file.isQueueable ? null : true"
             (click)="!file.isQueueable || onQueue(file)">
            <span class="icon glyphicon glyphicon-plus-sign"></span>
            <span class="text">Queue</span>
        </div>
        <div class="button" appClickStopPropagation [attr.disabled]="file.isStoppable ? null : true"
             (click)="!file.isStoppable || onStop(file)">
            <span class="icon glyphicon glyphicon-stop"></span>
            <span class="text">Stop</span>
        </div>
    </div>
</div>
