<div id="file-list-filter">
    <div id="filter-search">
        <img src="assets/icons/search.svg" />
        <div class="input-group">
            <input class="form-control" placeholder="Filter by name..." type="search"
                   [ngModel]="filterName" (ngModelChange)="onFilterByName($event)">
        </div>
    </div>
    <div id="filter-status">
        <div class="button" appClickStopPropagation
             [class.selected]="(filter | async)?.allFilterSelected"
             (click)="onFilterAll()">
            <img src="assets/icons/hamburger.svg" id="all" />
            <span class="text">All</span>
        </div>
        <div class="button" appClickStopPropagation
             [class.selected]="(filter | async)?.extractedFilterSelected"
             [attr.disabled]="(filter | async)?.extractedFilterEnabled ? null : true"
             (click)="onFilterExtracted()">
            <img src="assets/icons/extracted.svg" id="extracted" />
            <span class="text">Extracted</span>
        </div>
        <div class="button" appClickStopPropagation
             [class.selected]="(filter | async)?.extractingFilterSelected"
             [attr.disabled]="(filter | async)?.extractingFilterEnabled ? null : true"
             (click)="onFilterExtracting()">
            <img src="assets/icons/extracting.svg" id="extracting" />
            <span class="text">Extracting</span>
        </div>
        <div class="button" appClickStopPropagation
             [class.selected]="(filter | async)?.downloadedFilterSelected"
             [attr.disabled]="(filter | async)?.downloadedFilterEnabled ? null : true"
             (click)="onFilterDownloaded()">
            <img src="assets/icons/downloaded.svg" id="downloaded" />
            <span class="text">Downloaded</span>
        </div>
        <div class="button" appClickStopPropagation
             [class.selected]="(filter | async)?.downloadingFilterSelected"
             [attr.disabled]="(filter | async)?.downloadingFilterEnabled ? null : true"
             (click)="onFilterDownloading()">
            <img src="assets/icons/downloading.svg" id="downloading" />
            <span class="text">Downloading</span>
        </div>
        <div class="button" appClickStopPropagation
             [class.selected]="(filter | async)?.queuedFilterSelected"
             [attr.disabled]="(filter | async)?.queuedFilterEnabled ? null : true"
             (click)="onFilterQueued()">
            <img src="assets/icons/queued.svg" id="queued" />
            <span class="text">Queued</span>
        </div>
        <div class="button" appClickStopPropagation
             [class.selected]="(filter | async)?.stoppedFilterSelected"
             [attr.disabled]="(filter | async)?.stoppedFilterEnabled ? null : true"
             (click)="onFilterStopped()">
            <img src="assets/icons/stopped.svg" id="stopped" />
            <span class="text">Stopped</span>
        </div>
    </div>
</div>
