@import '../../common/common';

$filter-bgcolor: #dddddd;

#file-list-filter {
    background-color: $filter-bgcolor;
    padding: 8px;
}

#filter-search, #filter-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#filter-search {
    position: relative;
}

#filter-search .icon {
    position: absolute;
    left: 7px;
    top: 7px;
    font-size: 20px;
    z-index: 100;
    color: $filter-bgcolor;
}

#filter-search .input-group{
    flex-grow: 1;
    display: inline;
}

#filter-search input {
    border-radius: 5px;
    padding: 3px 15px 3px 30px;
}

#filter-status {
    margin-top: 8px;
}

#filter-status .button {
    @extend %button;

    flex-direction: row;
    padding: 5px;
    margin-right: 8px;
    height: 30px;
    flex-grow: 1;
}

#filter-status .button .icon {
    margin-top: -2px;
}

#filter-status .button .text {
    margin-left: 5px;
    display: none;
}
/* Do show the text for 'All' button */
#filter-status .button:first-of-type .text {
    display: inline;
}


/* Medium and large screens */
@media only screen and (min-width: $medium-min-width) {
    /* Show the filter button text */
    #filter-status .button {
        flex-grow: 0;
    }
    #filter-status .button .text {
        display: inline;
    }
}
